/* Text */
$blue: #868f93;
$light-black: #111111;
$light-grey: #b5b5b5;
$bright-blue: #68899a;
$bright-grey: #cccccc;
$light-to-dark-grey: #c0c0c0;

$main-color: #282828;
$darknest-blue: #31333f;
$dark-blue: #48529a;
$darkest-blue: #5260b6;
$blue-lightest: #00acee;
$light-blue: #eaf2f4;

$red: #cb343c;

/* Components */
$yellow: #ded3aa;
$light-yellow: #dfdfde;

/* Border/shadow/other */
$dark-grey: #999999;
$grey: #e1e1e1;
$white: #ffffff;



/* Message */
$regular-blue: #d9e1e6;



